.button {
  background: var(--purple);
  color: var(--white);
  font: var(--button);
  padding: 13px 24px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  text-align: center;
}

.button.is-secondary {
  background: unset;
  border: 2px solid var(--purple);
  color: var(--purple);
}
