.footer-content {
  color: var(--white);
  text-align: center;
}

.footer-content .social {
  justify-content: center;
  padding: 0;
}

.footer-logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    display: block;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-content .social {
    order: 3;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-block-start: 40px;
    padding-block-end: 40px;
  }

  .footer-copy {
    display: flex;
    gap: 8px;
  }
}
