.form {
  margin-block-end: 80px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-inline-size: 540px;
  margin: auto;
}

.form .title {
  margin: 0;
}

.form p {
  color: var(--white);
  margin: 0;
  text-align: center;
}

.form label {
  display: flex;
  flex-direction: column;
  font: var(--button);
}

.form input,
.form textarea {
  border: 2px solid #858c94;
  border-radius: 8px;
  padding: 16px 12px;
  font: var(--body1);
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .form .title {
    align-self: stretch;
    text-align: center;
  }
}
