.project {
  padding-block-start: 40px;
  padding-block-end: 40px;
}

.project-image img {
  max-inline-size: 100%;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    gap: 32px;
    align-items: center;
    padding-block-start: 80px;
    padding-block-end: 80px;
  }

  .project-description {
    flex: 1;
  }

  .project:nth-child(even) .project-image {
    order: 2;
    flex: 1;
    text-align: center;
  }
}
